<div class="row">
  <div class="input-field col s6">
    <input id="first_name2" class="validate" placeholder="search by parameters - more info ->" [(ngModel)]="searchColor">
    <!-- <label class="active" for="first_name">Start typing a color to choose from</label> -->
    <label
    matTooltip="Колір: black, white, red...
    Розмір: S; M; L; S,M; M,L ...
    Наявність: true, false"
    matTooltipPosition="after"
    >
    <i class="material-icons" id="help">info</i>
    </label>
  </div>
</div>

<div class="category-container">
  <mat-card
    *ngFor="let car of cars | search:searchColor"
    class="example-card">
    <mat-card-header>
      <mat-card-title>{{ car.brand }}</mat-card-title>
      <mat-card-subtitle>{{ car.article }}</mat-card-subtitle>
    </mat-card-header>
    <div class="img-overlay">
      <img mat-card-image src={{car.img}} alt="car"
      (click)="redirectToCar(car.id)">
      <div class="overlay">Click for details</div>
    </div>
    
    <mat-card-content>
      <p>Size: {{ car.size }}</p>
      <p>Color: {{ car.color }}</p>
    </mat-card-content>
    <div class="price">
      <span class="price-val">₴ {{ car.price }}</span>
    </div>
    <mat-card-actions class="btns">
      <button
        mat-raised-button
        
        
        class="btns-basket"
        (click)="addItemToCart(car)">
        Add to basket
      </button>
      <button
        mat-raised-button
        class="btns-details"
        (click)="redirectToCar(car.id)"
        color="primary"
        >
        Details
      </button>
    </mat-card-actions>
  </mat-card>

</div>
