<div class="category-container">
  <mat-card
    *ngFor="let car of cars"
    class="example-card">
    <mat-card-header>
      <mat-card-title>{{ car.brand }}</mat-card-title>
      <mat-card-subtitle>{{ car.article }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{car.img}} alt="car">
    <mat-card-content>
      <p>{{ car.size }}</p>
      <p>{{ car.color }}</p>
    </mat-card-content>
    <div class="price">
      <!-- <span class="price-val">{{ car.year | year }}</span> -->
      <span class="price-val">{{ car.price | currency:'UAH':'symbol-narrow':'ua' }}</span>
    </div>
    <mat-card-actions class="btns">
      <button
        mat-raised-button
        class="btns-basket">
        Add to basket
      </button>
      <button
        mat-raised-button
        (click)="redirectToCar(car.id)"
        color="primary">
        Details
      </button>
    </mat-card-actions>
  </mat-card>

  <!-- <mat-form-field>
    <mat-label>List length</mat-label>
    <input matInput [(ngModel)]="length" type="number">
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Page size</mat-label>
    <input matInput [(ngModel)]="pageSize" type="number">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Page size options</mat-label>
    <input matInput [ngModel]="pageSizeOptions" (ngModelChanged)="setPageSizeOptions($event)"
           [ngModelOptions]="{updateOn: 'blur'}" placeholder="Ex. 10,25,50">
  </mat-form-field> -->
  
  <!-- <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="pageEvent = $event">
  </mat-paginator> -->

  <!-- <div>
    <ul *ngFor="let item of activePageDataChunk">
      <li>{{item.field1}} | {{item.field2}} | {{item.field3}}</li>
    </ul>
  </div>
   -->
  <!-- <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChanged($event)">
  </mat-paginator> -->


</div>
