<header>
  <div class="logo-container">
    <button
      matTooltip="Сховати бічну панель"
      matTooltipPosition="after"
      class="side-nav-btn"
      (click)="toggleSideNav.emit()">
      <i class="material-icons icon-side-nav-btn">view_headline</i>
    </button>
    <div class="logo">
      <label 
      routerLink="/">
        <h2>T-Shirts</h2>
        <h4>Shop</h4>
    </label>
    </div>
  </div>

  <div class="options-panel">
    <div class="divider"></div>

    <label 
      class="basket"
      matTooltip="В корзину"
      routerLink="/basket"
    >
      <i class="material-icons" [matBadge]="totalQ" [matBadgeHidden]="hideMatBadge" matBadgeColor="warn">shopping_cart</i>
  </label>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <i class="material-icons">arrow_drop_down</i>

    </button>
    
    <mat-menu #menu="matMenu" class="popupSize">
        <!-- <ul class="sizePopup"> -->
        <app-cart-popup></app-cart-popup>
      <!-- <button
        mat-menu-item
        (click)="logOut()"
        class="menu-item">
        <i class="material-icons icon-logout">assignment_return</i>
        <span>Logout</span>
      </button> -->
    <!-- </ul>  -->
    </mat-menu>
  


    <div class="divider"></div>

    <div *ngIf="!(isLogined$ | async)" class="user-container">
      <button class="signup"
        mat-button color="primary"
        routerLink="/sign-up"
        (click)="toggleSideNav.emit()"
      >
        Sign up
      </button>

      <div class="divider"></div>

      <button
        mat-button
        routerLink="/login"
        (click)="toggleSideNav.emit()"
      >
        Login
      </button>
    </div>




    <div *ngIf="isLogined$ | async" class="user-container">
      <span class="user-name">{{ (user$ | async).firstName }} {{ (user$ | async).lastName }}</span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <i class="material-icons">keyboard_arrow_down</i>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          (click)="logOut()"
          class="menu-item">
          <i class="material-icons icon-logout">assignment_return</i>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>

  </div>
</header>
