<div *ngIf="cartList?.length">


<div class="pop-cart-item" *ngFor="let cart of cartList;let i = index" data-backdrop="false">
    <div class="pop-cart-item-image-wrapper">
      <img src={{cart.shirt.img}} class="img-fluid" alt="" />
    </div>
    <div class="pop-cart-item-details">
      <h1 class="pop-cart-item-title">
        <a href="http://localhost:4200/category/All?brand={{cart.shirt.brand}}">{{cart.shirt.brand}} 
          <span class="pop-cart-item-quantity">×{{cart.quantity}}</span>
        </a>
      </h1>
      <span class="pop-cart-item-brand">
        {{cart.shirt.article}}
      </span>
      <span class="pop-cart-item-price">
        ₴ {{cart.shirt.price}}
      </span>
      
      <div class="sizeOption"> 
        <div id="size">Size:</div>
        <div class="select-style">
        <select>
          <option *ngIf="cart.shirt.size.length > 0" value="0">{{cart.shirt.size[0]}}</option>
          <option *ngIf="cart.shirt.size.length > 1" value="1">{{cart.shirt.size[1]}}</option>
          <option *ngIf="cart.shirt.size.length > 2" value="2">{{cart.shirt.size[2]}}</option>
          <option *ngIf="cart.shirt.size.length > 3" value="3">{{cart.shirt.size[3]}}</option>
          <option *ngIf="cart.shirt.size.length > 4" value="4">{{cart.shirt.size[4]}}</option>
        </select>
      </div>
    </div> 
    </div>

    <div class="pop-cart-remove-wrapper">
      <span (click)="removeFromCart(cart)" class="cart-remove">X</span>
    </div>
  </div>
  <div *ngIf="cartList.length > 0">
    <div class="cart-total">
      <div class="cart-total-item">
        <span class="cart-total-label">
          Total
        </span>
        <span class="cart-total-value" *ngIf="totalPrice <= 1000">
          ₴ {{totalPrice | number: '2.'}}
        </span>
        
        <span class="cart-total-value" *ngIf="totalPrice > 1000"><font color="red">
            ₴ {{totalPrice * 0.8 | number: '1.0-0'}}</font>
          </span>
          <span class="cart-total-value" *ngIf="totalPrice > 1000"><s>
              ₴ {{totalPrice | number: '2.'}}</s>
            </span>
      </div>
    </div>
    <footer class="quick-cart-footer">
      <div class="quick-cart-footer-cell">
        <button mat-raised-button color="primary" id="viewCart"
        routerLink="/basket">
          View Cart
        </button>
      </div>
  
      <div class="quick-cart-footer-cell1">
        <button mat-raised-button color="accent" (click)="checkout()" routerLink="/" id="checkoutCart">Checkout</button>
      </div>
    </footer>
  </div>
  <div *ngIf="cartList.length === 0">
    <strong class="cart-empty">Your cart is empty</strong>
  </div>

</div>