<div class="car-container">
  <mat-card
    *ngIf="shirt"
    class="example-card">
    <mat-card-header>
      <mat-card-title>{{ shirt.brand }}</mat-card-title>
      <mat-card-subtitle>{{ shirt.article }}</mat-card-subtitle>
    </mat-card-header>
    <div class="img-zoom">
      <a href={{shirt.img}} target="_blank" matTooltip="Open image" matTooltipPosition="right">
      <img mat-card-image src={{shirt.img}} alt="t-shirt">
      </a>
    </div>
    
    <mat-card-content>
      <p>Size: {{ shirt.size }}</p>
      <p>Color: {{ shirt.color }}</p>
    </mat-card-content>
    <div class="price">
      <span class="price-val">₴ {{ shirt.price }}</span>
    </div>
    <mat-card-actions>
      <button
        mat-raised-button
        class="btns-basket"
        (click)="addItemToCart(shirt)">
        Add to basket
      </button>

    </mat-card-actions>
  </mat-card>
</div>
