<div class="car-container">
  <mat-card
    *ngIf="car"
    class="example-card">
    <mat-card-header>
      <mat-card-title>{{ car.brand }}</mat-card-title>
      <mat-card-subtitle>{{ car.article }}</mat-card-subtitle>
    </mat-card-header>
    <div class="img-zoom">
      <img mat-card-image src={{car.img}} alt="car">
    </div>
    
    <mat-card-content>
      <p>{{ car.size }}</p>
      <p>{{ car.color }}</p>
    </mat-card-content>
    <div class="price">
      <span class="price-val">{{ car.price | currency }}</span>
    </div>
    <mat-card-actions>
      <button
        mat-raised-button
        class="btns-basket"
        (click)="addItemToCart(car)">
        Add to basket
      </button>
    </mat-card-actions>
  </mat-card>
</div>
