/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer-inner-container {
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

}

.mat-tooltip {
  font-size: 16px !important;
  white-space: pre-line;
}

you-mat-element {
  cursor: pointer;
}

// .toast-custom {
//   top: 60px; 
//     left: 50%; 
//     // border-radius: 20%;
//     // position: bottom-full-width;
//     // width: 500px;
//     // margin-left: -150px; 
//     // position: fixed;
// }