.container {
  width: 100%;

}

.list-item {
  width: 100%;
  text-align: center;
  transition: .3s all;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  padding-left: 15px !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;

  &:hover {
    color: rgb(236, 247, 89);
  }
}

.active-link {
  color: rgb(236, 247, 89);
}
