<div class="container">
  <mat-list role="list">
    <mat-list-item
      
      class="list-item"
      role="listitem"
      routerLinkActive="active-link"
      routerLink="/category"
    > All T-shirts
    </mat-list-item>

    <mat-list-item
      class="list-item"
      role="listitem"
      routerLinkActive="active-link"
      routerLink="/category"
      [queryParams]="{male: true}"
    > Men T-shirts
    </mat-list-item>

    <mat-list-item
    class="list-item"
    role="listitem"
    routerLinkActive="active-link"
    routerLink="/category"
    [queryParams]="{ female: true }"
  >
    Women T-shirts
  </mat-list-item>

  <mat-list-item
      *ngFor="let brand of brands | async"
      class="list-item"
      role="listitem"
      routerLinkActive="active-link"
      routerLink="/category"
      [queryParams]="{ brand: brand }"
      >
      {{ brand }}
    </mat-list-item>

  </mat-list>
</div>
